<<<<<<< HEAD
.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
    color: black;
=======
.avatar.proportioned {
    height: auto;
    width: 100;
}
.avatar.distorted {
    height: 400px;
    width: 200px;
>>>>>>> ac0c51e (Added chaining to title)
}